<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/1.11.3/dataRender/ellipsis.js">
        <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
