{% extends "layout.html" %}

{% block title %}
    BioContainers Search
{% endblock %}

{% block body %}
      <br><br>
      <h1>Search</h1>
      <br>
      Use the table below to browse and search the BioContainers modules that are installed on TACC's compute resources.
      <br><br>
      <table id="myTable" class="display compact" style="width:100%"">
          <thead>
            <tr style="text-align: center;">
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Keywords</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href=data.url>URL</a></td>
              </tr>
          </tbody>
        </table>

{% endblock %}
