{% extends "layout.html" %}

{% block title %}
    BioContainers Search
{% endblock %}

{% block body %}
  <table id="example" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Module Name</th>
              <th>Keywords</th>
              <th>Url</th>
              <th>Version</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><a href=" "></a></td></td>
          <td></td>
        </tr>
      </tbody>

  </table>

{% endblock %}
