{% extends "layout.html" %}

{% block title %}
    BioContainers Search
{% endblock %}

{% block body %}
  <table id="example" class="display" style="width:100%">
      <thead>
          <tr>
              <th>category</th>
              <th>description</th>
              <th>keywords</th>
              <th>moduleName</th>
              <th>name</th>
              <th>url</th>
              <th>version</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>

  </table>

{% endblock %}
